<div class="wrapper h-screen bg-gray-600">
  <div class="flex">
    <div class="bg-cover mt-4 mb-4 ml-4">
      <%= image_tag 'tacoma.jpg', size: "1000x600" %>
    </div>

    <div class="m-4 w-1/3">
      <dl class="bg-gray-50 rounded-md">
        <div>
          <dt class="text-2xl font-bold"><i class="fas fa-search"></i> 部品を検索・比較する</dt>
          <dd>
            <%= search_form_for @q, url: parts_search_path do |f| %>
            <div class="mb-2">
              <%= f.label :car_model_id_eq, "車種：" %>
              <%= f.collection_select :car_model_id_eq, CarModel.order(:car_model_code), :id, :car_model_code, include_blank: '指定なし' %>
            </div>
            <div class="mb-2">
              <%= f.label :part_name_id_eq, "部品名：" %>
              <%= f.collection_select :part_name_id_eq, PartName.where.not(id: 1), :id, :name,  include_blank: '指定なし' %>
            </div>
            <div class="mb-2">
              <%= f.label :product_number_eq, "品番：" %>
              <%= f.search_field :product_number_cont %>
            </div>
            <div class="mb-2">
              <%= f.label :material_id_eq, "材質：" %>
              <%= f.collection_select :material_id_eq, Material.where.not(id: 1), :id, :name, include_blank: '指定なし' %>
            </div>
            <div class="mb-2">
              <%= f.label :thickness, "板厚：" %>
              <label><%= f.radio_button :thickness_lteq, '' %> 指定なし</label>
              <br>
              <label><%= f.radio_button :thickness_lteq, '25.00' %> 25.00mm以下</label>
              <br>
              <label><%= f.radio_button :thickness_lteq, '50.00' %> 50.00mm以下</label>
              <br>
              <label><%= f.radio_button :thickness_lteq, '75.00' %> 75.00mm以下</label>
              <br>
              <label><%= f.radio_button :thickness_lteq, '99.99' %> 99.99mm以下</label>
            </div>
            <div class="mb-2">
              <%= f.label :weight, "質量：" %>
              <label><%= f.radio_button :weight_lteq, '' %> 指定なし</label>
              <br>
              <label><%= f.radio_button :weight_lteq, '25000.00' %> 25,000.00g以下</label>
              <br>
              <label><%= f.radio_button :weight_lteq, '50000.00' %> 50,000.00g以下</label>
              <br>
              <label><%= f.radio_button :weight_lteq, '75000.00' %> 75,000.00g以下</label>
              <br>
              <label><%= f.radio_button :weight_lteq, '99999.99' %> 99,999.99g以下</label>
            </div>
            <div>
              <%= f.label :"仕入先" %>
              <%= f.collection_select :supplier_id_eq, Supplier.where.not(id: 1), :id, :name, include_blank: '指定なし' %>
            </div>
            <div>
            <div class="mb-2">
              <%= f.label :reference_parts_eq, "参考部品：" %>
              <%= f.search_field :reference_parts_cont %>
            </div>
              <button f.submit class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-1 rounded">
                検索・比較する
              </button>
              <button name="button" type="reset" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-1 rounded">
                リセットする
              </button>
            <% end %>
          </dd>
        </div>
        
        <div>
          <dt class="text-2xl font-bold"><i class="fas fa-cogs"></i> 部品を登録する</dt>
          <dd>
            <% if @car_models.length != 0 %>
              <% @car_models.each do |car_model| %>
              <div class="btn m-2 ring ring-gray-300 rounded">
                <%= link_to car_model.car_model_code, new_car_model_part_path(car_model) %>
              </div>
              <% end %>
            <% else %>
              車種を登録してください
            <% end %>
          </dd>
        </div>

        <div>
          <dt class="text-2xl font-bold"><i class="fas fa-car"></i> 車種を登録する</dt>
          <dd>
            <%= form_with model: @car_model, local: true do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
              <%= f.label :"車種：" %>
              <%= f.text_field :car_model_code, placeholder: "300C" %>
              <button f.submit class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-1 rounded">
                登録する
              </button>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
