<div class="part py-8 px-24 text-2xl">
  <div class="mb-4 text-3xl font-bold">
    <i class="fas fa-cogs"></i> <%= @car_model.car_model_code %>の部品を登録する
  </div>
  <%= form_with(model: [@car_model, @part], local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="mb-2">
      <%= f.label :"図面：" %>
      <%= f.file_field :images, name: 'part[images][]', id: 'part_image', style: 'border: none' %>
    </div>
    <div class="mb-2">
      <%= f.label :"部品名：" %>
      <%= f.collection_select(:part_name_id, PartName.all, :id, :name, {}) %>
    </div>
    <div class="mb-2">
      <%= f.label :"品番：" %>
      <%= f.text_field :product_number %>
    </div>
    <div class="mb-2">
      <%= f.label :"材質：" %>
      <%= f.collection_select(:material_id, Material.all, :id, :name, {}) %>
    </div>
    <div class="mb-2">
      <%= f.label :"板厚：" %>
      <%= f.text_field :thickness %>mm
    </div>
    <div class="mb-2">
      <%= f.label :"質量：" %>
      <%= f.text_field :weight %>g
    </div>
    <div class="mb-2">
      <%= f.label :"仕入先：" %>
      <%= f.collection_select(:supplier_id, Supplier.all, :id, :name, {}) %>
    </div>
    <div class="mb-4">
      <%= f.label :"承認日：" %>
      <%= f.date_select :approval_date %>
    </div>
    <%= f.submit '登録する', class: 'form-submit p-2' %>
    <div id="image_list"></div>
  <% end %>
</div>

<div id="page_top">
  <a href="#"><i class="arrow fas fa-arrow-up text-3xl"></i></a>
</div>
