<%= render "shared/header" %>
<div class="container">
  <div class="text-3xl font-bold" >
    検索結果
  </div>

  <div class="wrap">
    <% if @results.length != 0 %>
      <% @results.each do |result| %>
        <div class="">
          <div>
            <i class="far fa-times-circle fa-2x fa-pull-right fa-border" id='hide-btn'></i>
          </div>
        <%= image_tag result.image.variant(resize: "400x400"), class: 'part-image' %>
          <div class="flex-wrap">
            <p>車種：<%= result.car_model.car_model_code %></p>
            <p>部品名：<%= result.part_name.name %></p>
            <p>品番：<%= result.product_number %></p>
            <p>材質：<%= result.material.name %></p>
            <p>板厚：<%= result.thickness %>mm</p>
            <p>質量：<%= result.weight %>g</p>
            <p>仕入先：<%= result.supplier.name %></p></p>
            <p>登録者：<%= result.user.name %></p>
            <p><%= l result.created_at %></p>
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-2 rounded">
              <%= link_to "さらに詳しく", car_model_part_path(result.car_model.id, result.id) %>
            </button>
          </div>
        </div>
      <% end %>
      <div class="page-top">
        <div id="topBtn"><i class="fas fa-arrow-circle-up fa-3x"></i><div>
      </div>
    <% else %>
      該当する部品はありません
    <% end %>
  </div>
</div>
