<div class="flex wrapper h-screen">
  <div class="m-8 slider show_slider">
    <% @part.images.each do |image| %>
      <%= image_tag image, name: 'part[images][]' %>
    <% end %>
  </div>
  <div class="p-8 m-4 bg-white rounded-md border-4 border-gray-600">
    <div class="p-1 sm:text-1xl md:text-2xl bg-gray-200 rounded-md">
      車種：<%= @part.car_model.car_model_code %>
    </div>
    <div class="mt-2 sm:text-1xl md:text-2xl">
      部品名 ： <%= @part.part_name.name %>
    </div>
    <div class="mt-2 p-1 sm:text-1xl md:text-2xl bg-gray-200 rounded-md">
      品番 ： <%= @part.product_number %>
    </div>
    <div class="mt-2 sm:text-1xl md:text-2xl">
      材質 ： <%= @part.material.name %>
    </div>
    <div class="mt-2 sm:text-1xl md:text-2xl p-1 bg-gray-200 rounded-md">
      板厚 ： <%= @part.thickness %>mm
    </div>
    <div class="mt-2 sm:text-1xl md:text-2xl">
      質量 ： <%= @part.weight %>g
    </div>
    <div class="mt-2 p-1 sm:text-1xl md:text-2xl bg-gray-200 rounded-md">
      仕入先 ： <%= @part.supplier.name %>
    </div>
    <div class="mt-8 sm:text-1xl md:text-1xl" >
      登録者 ： <%= @part.user.name %>
    </div>
    <div class="mt-2 sm:text-1xl md:text-1xl" >
      承認日 ： <%= @part.approval_date %>
    </div>
    <% if @part.user.id == current_user.id %>
      <div class="flex justify-center">
        <div class="mt-10 text-xs">
          <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-2 rounded">
            <%= link_to "修正する", edit_car_model_part_path %>
          </button>
        </div>
        <div class="mt-10 text-xs">
          <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 m-2 px-2 rounded">
            <%= link_to "削除する", car_model_part_path, method: :delete, data: {confirm: "品番：#{@part.product_number} 削除しますか？"} %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
